<nav class="navbar navbar-expand-lg navbar-light pl-2 pr-2 mb-3 shadow" style="background-color: #e3f2fd; width: 100%">
    <a class="navbar-brand navbar-expand-sm fw-bold text-success" href="#">{{ title_name|title }} {{ societe }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'app:index' %}">Home</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" method="post">
            {% csrf_token %}
            {{ form.dates }}
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fas fa-search"></i>
            </button>
        </form>
    </div>
</nav>
