@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');
*, body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    font-size: 12px;
}


/* Variables */
:root {
    --bg: #fff;
    --text: #7288a2;
    --gray: #4d5974;
    --lightgray: #e5e5e5;
    --blue: #03b5d2;
}


*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
}

.hint-text {
    float: left;
    margin-top: 10px;
    font-size: 13px;
}

/* Custom checkbox */
.custom-checkbox {
    position: relative;
}

.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    margin: 5px 0 0 3px;
    z-index: 9;
}

.custom-checkbox label:before {
    width: 18px;
    height: 18px;
}

.custom-checkbox label:before {
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: white;
    border: 1px solid #bbb;
    border-radius: 2px;
    box-sizing: border-box;
    z-index: 2;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
    left: 6px;
    top: 3px;
    width: 6px;
    height: 11px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    z-index: 3;
    transform: rotateZ(45deg);
}

.custom-checkbox input[type="checkbox"]:checked + label:before {
    border-color: #03A9F4;
    background: #03A9F4;
}

.custom-checkbox input[type="checkbox"]:checked + label:after {
    border-color: #fff;
}

.custom-checkbox input[type="checkbox"]:disabled + label:before {
    color: #b8b8b8;
    cursor: auto;
    box-shadow: none;
    background: #ddd;
}


.modal .modal-header, .modal .modal-body, .modal .modal-footer {
    padding: 20px 30px;
}

.modal .modal-content {
    border-radius: 3px;
    font-size: 14px;
}

.modal .modal-footer {
    background: #ecf0f1;
    border-radius: 0 0 3px 3px;
}

.modal .modal-title {
    display: inline-block;
}

.modal .form-control {
    border-radius: 2px;
    box-shadow: none;
    border-color: #dddddd;
}

.modal textarea.form-control {
    resize: vertical;
}

.modal .btn {
    border-radius: 2px;
    min-width: 35px;
}

.modal form label {
    font-weight: normal;
}

.tabulator-print-header, tabulator-print-footer {
    text-align: center;
}

#container-map {
    height: 500px;
    min-width: 310px;
    max-width: 800px;
    margin: 0 auto;
}

.active-row {
    background-color: #13cb13; /* Light green */
    color: cornsilk;
}

.inactive-row {
    background-color: #ba1c2c; /* Light red */
    color: cornsilk;
}


.tabulator-row {
    border-bottom: 1px solid #ddd; /* Add border to each row */
}


.nav-tabs {
    color: #000; /* Couleur de fond pour les onglets */
    border-bottom: 1px solid #dee2e6; /* Bordure inférieure des onglets */
}

.nav-tabs .nav-item {
    margin-bottom: 0;
}

.nav-tabs .nav-link {
    color: #000; /* Couleur du texte pour les onglets */
}

.nav-tabs .nav-link.active {
    background-color: rgb(3, 181, 210); /* Couleur de fond pour l'onglet actif */
    border-color: rgb(3, 181, 210); /* Couleur de la bordure pour l'onglet actif */
    color: white;
}

/* Accordion Styles */
.accordion .accordion-item {
    border-bottom: 1px solid var(--lightgray);
}

.accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: var(--text);
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
}

.accordion button:hover,
.accordion button:focus {
    cursor: pointer;
    color: var(--blue);
}

.accordion button:hover::after,
.accordion button:focus::after {
    cursor: pointer;
    color: var(--blue);
    border: 1px solid var(--blue);
}

.accordion .accordion-title {
    padding: 1em 1.5em 1em 0;
}

.accordion button[aria-expanded='true'] {
    color: var(--blue);
}

.accordion button[aria-expanded='true'] .icon::after {
    width: 0;
}

.accordion .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
}

.accordion .icon::before,
.accordion .icon::after {
    display: block;
    position: absolute;
    content: '';
}

.accordion .icon::before {
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
}

.accordion .icon::after {
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
}

.accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
}

.accordion .accordion-content table {
    font-size: 1rem;
    margin: 2em 0;
}

