<table id="table1"
       class="display table table-bordered table-hover table-striped nowrap stripe row-border order-column"
       style="width:100%">
    <thead class="" style="width: 100%">
    <tr>
        <th colspan="9" class="text-center bg-secondary text-white font-weight-bold">INFORMATION THEORIQUE</th>
        <th colspan="9" class="text-center bg-secondary text-white font-weight-bold">AUTRE</th>
    </tr>
    <tr>
        <th class="bg-dark text-white">N°</th>
        <th class="bg-dark text-white">REFERENCE</th>
        <th class="bg-dark text-white">DESIGNATION</th>
        <th class="bg-dark text-white">LOT</th>
        <th class="bg-dark text-white">FAMILLE</th>
        <th class="bg-dark text-white">EMPLACEMENT</th>

        <th class="bg-dark text-white">QTE <code>*</code> </th>
        <th class="bg-dark text-white">UNITE</th>
        <th class="bg-dark text-white">CPTE</th>

        <th class="bg-primary text-white">COEFICIENT</th>
        <th class="bg-primary text-white">QTE</th>
        <th class="bg-primary text-white">UNITE</th>
        <th class="bg-primary text-white">CPTE</th>

        <th class="bg-primary text-white">FICHE</th>
        <th class="bg-warning text-white">ECART</th>
        <th class="bg-warning text-white">PMP</th>
        <th class="bg-warning text-white">VAL ECART</th>
        <th class="bg-warning text-white">ACTEUR</th>
        <th class="bg-warning text-white">COMMENTAIRE</th>
    </tr>
    </thead>

    <tbody>
    </tbody>

    <tfoot style="width: 100%">
    <tr>
        <th>N°</th>
        <th>REFERENCE</th>
        <th>DESIGNATION</th>
        <th>LOT</th>
        <th>FAMILLE</th>
        <th>EMPLACEMENT</th>
        <th>QTE</th>
        <th>UNITE</th>
        <th>CPTE</th>
        <th>COEF</th>
        <th>QTE</th>
        <th>UNITE</th>
        <th>CPTE</th>
        <th>FICHE</th>
        <th>ECART</th>
        <th>PMP</th>
        <th>VAL ECART</th>
        <th>ACTEUR</th>
        <th>COMMENTAIRE</th>
    </tr>
    </tfoot>
</table>