<table id="table2"
       class="display table table-bordered table-hover table-striped nowrap stripe row-border order-column"
       style="width:100%">
    <thead class="" style="width: 100%">
    <tr>
       <th colspan="15" class="bg-secondary text-white font-weight-bold text-center">INFORMATION THEORIQUE</th>
    </tr>
    <tr>
        <th>N°</th>
        <th>CREATEUR</th>
        <th>CREER LE</th>
        <th>REFERENCE</th>
        <th>DESIGNATION</th>
        <th>LOT</th>
        <th>FAMILLE</th>
        <th>EMPLACEMENT</th>
        <th>QTE</th>
        <th>UNITE</th>
        <th>CPTE</th>
        <th>FICHE</th>
        <th>MODIFICATEUR</th>
        <th>MODIFIER LE</th>
        <th>COMMENTAIRE</th>
    </tr>
    </thead>

    <tbody>
    </tbody>

    <tfoot style="width: 100%">
    <tr>
        <th>N°</th>
        <th>CREATEUR</th>
        <th>CREER LE</th>
        <th>REFERENCE</th>
        <th>DESIGNATION</th>
        <th>LOT</th>
        <th>FAMILLE</th>
        <th>EMPLACEMENT</th>
        <th>QTE</th>
        <th>UNITE</th>
        <th>CPTE</th>
        <th>FICHE</th>
        <th>MODIFICATEUR</th>
        <th>MODIFIER LE</th>
        <th>COMMENTAIRE</th>
    </tr>
    </tfoot>
</table>