<table id="usersTable"
       class="display table table-bordered table-hover table-striped nowrap stripe row-border order-column"
       style="width:100%">
    <thead class="" style="width: 100%">
    <tr>
        <th>#</th>
        <th>IDENTIFIANT</th>
        <th>NOM</th>
        <th>PRENOM</th>
        <th>EMAIL</th>
        <th>AUTORISER</th>
        <th>STATUS</th>
        <th>ACCÈS</th>
        <th>ADMINISTRATEUR</th>
        <th>SUPER-ADMIN</th>
        <th>CONNEXION</th>
        <th>ACTION</th>
    </tr>
    </thead>

    <tbody>
    </tbody>

    <tfoot style="width: 100%">
    <tr>
        <th>#</th>
        <th>IDENTIFIANT</th>
        <th>NOM</th>
        <th>PRENOM</th>
        <th>EMAIL</th>
        <th>AUTORISER</th>
        <th>STATUS</th>
        <th>ACCÈS</th>
        <th>ADMINISTRATEUR</th>
        <th>SUPER-ADMIN</th>
        <th>CONNEXION</th>
        <th>ACTION</th>
    </tr>
    </tfoot>
</table>