{% load static %}
{% load i18n %}
{% load humanize %}
{% load fontawesome_6 %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventaire | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap-select.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/tabulator/css/tabulator.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/tabulator/css/tabulator_site_dark.min.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickgrids/styles/css/slick-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickgrids/styles/css/slick-alpine-theme.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickgrids/styles/css/slick.grid.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickgrids/styles/css/slick.gridmenu.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickgrids/styles/css/slick.headermenu.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickgrids/styles/css/slick.headerbuttons.css' %}">
    <link rel="stylesheet" href="{% static 'dist/slickgrids/styles/css/slick.pager.css' %}">
    <link rel="stylesheet" href="{% static 'dist/handsontable/handsontable.full.min.css' %}">
    <link rel="icon" type="image/ico" sizes="16x16" href="{% static 'assets/images/logo-inviso.ico' %}">
    {% fontawesome_6_static %}

    {% block style %}{% endblock %}

</head>
<body>
{% if user.is_authenticated %}
    {% include "partials/_navbar.html" %}
{% endif %}
<div class="container mt-2 " style="max-width: 100vw;">
    {% if messages %}
        {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                 role="alert">
                <strong>{{ message.tags|title }}!</strong> {{ message.message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% block content %}{% endblock %}
<script src="{% static 'assets/js/jquery.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/moment.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap-select.min.js' %}"></script>
<script src="{% static 'dist/tabulator/js/tabulator.min.js' %}"></script>
<script src="{% static 'dist/tabulator/js/luxon.js' %}"></script>
<script src="{% static 'dist/tabulator/js/xlsx.full.min.js' %}"></script>
<script src="{% static 'dist/tabulator/js/jspdf.umd.min.js' %}"></script>
<script src="{% static 'dist/tabulator/js/jspdf.plugin.autotable.min.js' %}"></script>

<script src="{% static 'dist/slickgrids/browser/Sortable.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/sortable-cdn-fallback.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/slick.core.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/slick.interactions.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/slick.grid.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/slick.dataview.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/slick.remotemodel.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/slick.formatters.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/plugins/slick.resizer.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/plugins/slick.cellrangedecorator.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/plugins/slick.cellrangeselector.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/plugins/slick.cellselectionmodel.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/plugins/slick.draggablegrouping.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/plugins/slick.rowselectionmodel.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/slick.groupitemmetadataprovider.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/controls/slick.pager.js' %}"></script>
<script src="{% static 'dist/slickgrids/browser/controls/slick.columnpicker.js' %}"></script>
<script src="{% static 'dist/handsontable/handsontable.full.min.js' %}"></script>
{% block script %}{% endblock %}
</body>
</html>