{% extends 'base.html' %}
{% load static %}
{% block title %}
    HOME
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/w2ui-2.0/w2ui-2.0.min.css' %}">
{% endblock %}
{% block content %}
    <main id="main" class="" style="width: 100vw; height: 90vh;"></main>
{% endblock %}
{% block script %}
    <script type="module">
        import {
            w2layout,
            w2sidebar,
            w2alert,
            query,
            w2form,
            w2ui,
            w2popup,
            w2utils
        } from "{% static 'dist/w2ui-2.0/w2ui-2.0.es6.min.js' %}";

        let CreateTable = function (id, columns) {
            let table = new Tabulator('#' + id, {
                height: '90vh',
                editorEmptyValue: '',
                downloadConfig: {
                    columnHeaders: true,
                    columnGroups: false,
                    rowHeaders: false,
                    rowGroups: false,
                    columnCalcs: true,
                    dataTree: true,
                },
                ajaxURL: "{% url 'app:get-data-for-table' %}",
                ajaxContentType: "json",
                ajaxParams: {'value': id},
                ajaxConfig:"POST",
                progressiveLoad:"load",
                progressiveLoadDelay:200,
                layout: "fitData",
                printAsHtml: true,
                printStyled: true,
                printRowRange: "all",
                printHeader: "<h1>Example Table Header<h1>",
                printFooter: "<h2>Example Table Footer<h2>",
                footerElement: `<button type='button' class='btn btn-warning btn-sm mr-2' id='reload-table' onClick=""><i class='fas fa-sync-alt'></i></button>`,
                tooltipsHeader: false,
                rowHeader: {
                    title: `<button type='button' class='btn btn-primary btn-sm' id='add-row' onclick=""><i class='fas fa-plus'></i></button>`,
                    headerSort: false,
                    resizable: false,
                    width: 45,
                    frozen: true,
                    rowHandle: true,
                    editor: false,
                    formatter: "handle",
                },
                movableColumns: true,
                success: function (data) {
                    if (data.status !== 200 && data.status !== 201) {
                        alert(data.error || "An error occurred while fetching data.");
                        return;
                    }
                    const breakdowns = data.data;
                    table.setData(breakdowns);
                },
                headerSortClickElement: 'icon',
                selectableRangeClearCells: true,
                columnHeaderVertAlign: "bottom",
                resizableColumnGuide: true,
                dataTree: true,
                dataTreeStartExpanded: false,
                dataTreeFilter: false,
                dataTreeSort: false,
                dataTreeSelectPropagate: true,
                placeholder: "Aucun Donnée",
                placeholderHeaderFilter: 'Aucun Donnée Correspondent',
                groupClosedShowCalcs: true,
                headerSort: true,
                columnDefaults: {
                    tooltip: true,
                    headerHozAlign: "center",
                    editor: false,
                    resizable: "header",
                },
                columns: columns
            })
        }
        let configTable = function (event) {
            let table;
            let id;

            switch (event.target) {
                case 1:
                    id = 'BLG'
                    break;
                case 2:
                    id = 'ALL'
                    break;
                case 3:
                    id = 'BILAN'
                    break;
                case 4:
                    id = 'CN'
                    break;
                default:
                    id = 'BLG'
            }
            table = '<main id="' + id + '" style="padding: 10px"></main>'

            return table
        }

        let config = {
            layout: {
                name: 'layout',
                overflow: 'auto',
                resizable: false,
                padding: 0,
                panels: [
                    {type: 'left', size: 100, resizable: true, minSize: 35},
                    {type: 'main', size: 550, overflow: 'hidden'}
                ]
            },
            sidebar: {
                name: 'sidebar',
                flatButton: true,
                nodes: [
                    {
                        id: 'general',
                        text: '{{ target }}',
                        group: true,
                        expanded: true,
                        groupShowHide: false,
                        nodes: [
                            {id: '1', text: 'BLG', icon: 'fas fa-list-alt', selected: true},
                            {id: '2', text: 'ALL', icon: 'fas fa-list-alt'},
                            {id: '3', text: 'BILAN', icon: 'fas fa-list-alt'},
                            {id: '4', text: 'CN', icon: 'fas fa-list-alt'},
                        ],
                        onCollapse(event) {
                            event.preventDefault()
                        },

                    }
                ],
                onFlat(event) {
                    layout.sizeTo('left', (event.detail.goFlat ? 35 : 100), true)
                },
                onRender(event) {
                    let table = configTable(event)
                    layout.html('main', table)
                    query(layout.el('main'))
                        .removeClass('w2ui-grid')
                        .css({
                            'border-left': '1px solid #efefef'
                        })
                    CreateTable('BLG', config.BLG)
                },
                onClick(event) {
                    let table = configTable(event)
                    layout.html('main', table)
                    query(layout.el('main'))
                        .removeClass('w2ui-grid')
                        .css({
                            'border-left': '1px solid #efefef'
                        })
                    let target;
                    switch (event.target) {
                        case 1:
                            target = config.BLG
                            break;
                        case 2:
                            target = config.ALL
                            break;
                        case 3:
                            target = config.BILAN
                            break;
                        case 4:
                            target = config.CN
                            break;
                        default:
                            target = config.BLG
                    }
                    CreateTable(event.object.text, target)
                }
            },
            BLG: [
                {title: "SOCIETE", field: "SOCIETE", width: 125, frozen: true},
                {title: "COMPTE SAGE", field: "COMPTE_SAGE", width: 125, frozen: true},
                {title: "NBCAR", field: "NBCAR", width: 100,},
                {title: "COMPTE UNIF", field: "COMPTE_UNIF", width: 125,},
                {title: "DESIGNATION COMPTE", field: "DESIGNATION_COMPTE", width: 300,},
                {title: "SD", field: "SD", width: 150},
                {title: "SC", field: "SC", width: 150},
                {title: "SOLDE 311222", field: "SOLDE_311222", width: 150, frozen: true},
            ],
            ALL: [
                {title: "C1", field: "C1", width: 75, frozen: true},
                {title: "C2", field: "C2", width: 75, frozen: true},
                {title: "C3", field: "C3", width: 75, frozen: true},
                {title: "Compte", field: "COMPTE", width: 125, frozen: true},
                {title: "Affectation", field: "AFFECTATION", width: 125, frozen: true},
                {title: "Désignation", field: "DESIGNATION", width: 250, frozen: true},
                {title: "AGRIFARM", field: "AGFRM", width: 100,},
                {title: "AGRIFEED", field: "AGRIFEED", width: 100,},
                {title: "AGRICORP", field: "AGRICORP", width: 100,},
                {title: "AGRIKOBA", field: "AGKOB", width: 100,},
                {title: "AGRIMOTORS", field: "AGRIMOTORS", width: 100,},
                {title: "AGRIVAL", field: "AGVAL", width: 100,},
                {title: "AGRIVET", field: "AGVET", width: 100,},
                {title: "AGRIVETAM", field: "AGRIVETAM", width: 100,},
                {title: "AMCHO", field: "AMCHO", width: 100,},
                {title: "AMIP", field: "AMIP", width: 100,},
                {title: "BOVIMA", field: "BOVIMA", width: 100,},
                {title: "CONFORTIS", field: "CONFORTIS", width: 100,},
                {title: "CSS SAKAY", field: "CSS_SAKAY", width: 100,},
                {title: "DISCOI", field: "DISCOI", width: 100,},
                {title: "EUROPAINTS", field: "EUROPAINTS", width: 100,},
                {title: "FERRIS", field: "FERRIS", width: 100,},
                {title: "FIRST ENERGY", field: "FIRST_ENERGY", width: 100,},
                {title: "FIRST INVESTISSEMENT", field: "FIRST_INVESTISSEMENT", width: 100,},
                {title: "FLY TECH", field: "FLY_TECH", width: 100,},
                {title: "IDF", field: "IDF", width: 100,},
                {title: "ID MOTORS", field: "ID_MOTORS", width: 100,},
                {title: "ID RENTAL", field: "ID_RENTAL", width: 100,},
                {title: "INVISO", field: "INVISO", width: 100,},
                {title: "IRS IMMO", field: "IRS_IMMO", width: 100,},
                {title: "ISF", field: "ISF", width: 100,},
                {title: "LMOI", field: "LMOI", width: 100,},
                {title: "MABEL", field: "MABEL", width: 100,},
                {title: "MADATRADE", field: "MADATRADE", width: 100,},
                {title: "MCM", field: "MCM", width: 100,},
                {title: "NMP", field: "NMP", width: 100,},
                {title: "NOAH", field: "NOAH", width: 100,},
                {title: "NUTRIFOOD", field: "NUTRIFOOD", width: 100,},
                {title: "RYA", field: "RYA", width: 100,},
                {title: "SEM", field: "SEM", width: 100,},
                {title: "SIM", field: "SIM", width: 100,},
                {title: "SMTP", field: "SMTP", width: 100,},
                {title: "TARTINE", field: "TARTINE", width: 100,},
                {title: "UNITED MALAGASY", field: "UNITED_MALAGASY", width: 100,},
                {title: "VET ABE", field: "VET_ABE", width: 100,},
                {title: "VET FIA", field: "VET_FIA", width: 100,},
                {title: "CONSO", field: "CONSO", width: 100, frozen: true},
                {title: "Cours Moyen EUR Exo", field: "MOYEN", width: 100, frozen: true},
            ],
            BILAN: [],
            CN: [],

        }


        let layout = new w2layout(config.layout);
        let sidebar = new w2sidebar(config.sidebar);

        layout.render('#main');
        layout.html('left', sidebar)
        layout.html('top', toolbar)


        window.showAlert = function (message) {
            w2alert(message)
                .ok(() => {
                    console.log(message)
                })
        }

        let champs = [
            {id: 1, text: 'BLG'},
            {id: 2, text: 'ALL'},
            {id: 3, text: 'BILAN'},
            {id: 4, text: 'CN'},
        ]

        window.showRegister = function () {
            if (!w2ui.foo) {
                let form = new w2form({
                    box: '#foo',
                    name: 'foo',

                    url: "",
                    record: {
                        uid: '{{ uid }}',
                        destinataire: '{{ user.email }}',
                        copie: 'sage@inviso-group.com',
                        societe: '{{ societe }}',
                        target: '{{ target }}',
                        champs: [
                            {'id': 1, 'text': 'AI'}, {'id': 2, 'text': 'ANDR'}, {'id': 3, 'text': 'ADR'}, {
                                'id': 4, 'text': 'PSV'
                            }, {'id': 5, 'text': 'MV'}, {'id': 6, 'text': 'SVT'}, {'id': 7, 'text': 'PL'}, {
                                'id': 8,
                                'text': 'PLP'
                            }, {'id': 9, 'text': 'DEB'}],
                        message: "Bonjour\n\nVoici en jointe le Droite de COM de {{ societe }} à l'années {{ target }}.\n\nCordialement,"
                    },
                    fields: [
                        {
                            field: 'destinataire', type: 'text', required: true,
                            html: {
                                group: 'Envoyée par Mail',
                                column: 'before',
                                span: 4,
                                label: 'Déstinataire (,)',
                                attr: 'style="width: calc(100% - 40px)"'
                            }
                        },
                        {
                            field: 'copie', type: 'text',
                            html: {
                                column: 'before',
                                span: 4,
                                label: 'Copie (,)',
                                attr: 'style="width: calc(100% - 40px)"'
                            }
                        },
                        {
                            field: 'champs', type: 'enum', required: true,
                            html: {
                                group: 'Les Feuilles',
                                column: 'before',
                                groupStyle: 'border: 1px solid green; background-color: #eaffea',
                                required: true,
                                span: 3,
                                label: 'Champs', attr: 'style="width: calc(100% - 40px)"'
                            },
                            options: {openOnFocus: true, items: w2utils.clone(champs)}
                        },
                        {
                            field: 'societe', type: 'text', required: true,
                            html: {
                                column: 'before',
                                text: ' %attach1%',
                                span: 4,
                                label: 'Société',
                                attr: 'placeholder="Nom du Société",style="width: calc(60% - 100px)"'

                            }
                        },
                        {
                            field: 'target', type: 'text', required: true,
                            html: {
                                label: '',
                                anchor: '%attach1%',
                                attr: 'placeholder="state" style="width: calc(40% - 60px)"'
                            }
                        },
                        {
                            field: 'message', type: 'textarea',
                            html: {
                                group: 'Message',
                                column: 'after',
                                span: -1,
                                label: '',
                                attr: 'style="width: 100%; height: 100px; resize: none"'
                            }
                        }
                    ],
                    actions: {
                        Clear() {
                            this.clear();
                        },
                        Save() {
                            this.save();
                            this.validate();
                        },
                        custom2: {
                            text: '<span style="font-size: 16px">←</span> clicker pour télécharger',
                            class: 'custom-class',
                            style: 'background-image: none; background-color: transparent; border: 0px; margin: 0 0 0 -10px;',
                            onClick() {
                                w2alert('Not me!! The other button')
                            }
                        }
                    },
                    onSave: function (event) {
                        w2popup.close()
                    },
                    onSubmit: function (event) {
                    },
                    onRequest: function (data) {
                    },
                    onProgress: function (event) {
                    },
                    onLoad: function (target, data) {
                    },
                    onError: function (event) {
                    }

                })
            }
            w2popup.open({
                title: 'Panel et Outils',
                body: '<div id="form" style="width: 100%; height: 100%;"></div>',
                style: 'padding: 15px 0px 0px 0px',
                width: 725,
                height: 600,
                showMax: true,
                async onToggle(event) {
                    await event.complete
                    w2ui.foo.resize();
                }
            })
                .then((event) => {
                    w2ui.foo.render('#form')
                });
        }


        let configPopup = {
            layoutPopup: {
                name: 'layoutPopup',
                padding: 4,
                panels: [
                    {type: 'left', size: '50%', resizable: true, minSize: 300},
                    {type: 'main', minSize: 300, style: 'overflow: hidden'}
                ]
            },
            grid1: {
                name: 'grid',
                liveSearch: true,
                multiSearch: true,
                multiSelect: true,
                showExtraOnSearch: 1,
                show: {
                    header: true,
                    footer: true,
                    toolbar: true,
                    lineNumbers: true
                },
                style: 'border: 1px solid #efefef',
                columns: [
                    {field: 'societe', text: 'Societe', size: '50%', sortable: true, searchable: true},
                    {field: 'target', text: 'Année', size: '33%', sortable: true, searchable: true},
                    {field: 'destinataire', text: 'Destinataire'},
                    {field: 'copie', text: 'Copie',},
                    {
                        field: 'status',
                        text: 'Status',
                        size: '40px',
                        sortable: true,
                        resizable: false,
                        info: {
                            fields: {
                                'Status': (rec, ind, col_ind) => {
                                    return rec.societe + ' (' + rec.target + ')'
                                },
                                'Spacer': '---',
                                'Destinataire': 'destinataire',
                                'Copie': 'copie',
                                'Date': 'created_at',
                            },
                            showOn: 'mouseenter',
                            options: {position: 'top'},
                            style: 'color: green'
                        },
                        render: () => '<span style="color: silver"></span>',
                        style: 'text-align: center',
                    }
                ],
                async onClick(event) {
                    await event.complete
                    let record = this.get(event.detail.recid)
                    gridPopup2.clear()
                    gridPopup2.add([
                        {recid: 0, name: 'Uid ', value: record.recid},
                        {recid: 1, name: 'Societe ', value: record.societe},
                        {recid: 2, name: 'Année ', value: record.target},
                        {recid: 3, name: 'Destinataire ', value: record.destinataire},
                        {recid: 4, name: 'Copie ', value: record.copie},
                        {
                            recid: 5, name: 'Status ', value: record.status, render(record, extra) {
                                console.log(record)
                                if (extra.value === true) {
                                    return '(Envoyer)'
                                } else if (extra.value === false) {
                                    return '(Non Envoyer)'
                                }
                                return extra.value
                            }
                        },
                        {recid: 6, name: 'Message ', value: record.message},
                        {recid: 7, name: "Date d'envoie ", value: record.created_at},
                    ])
                }
            },
            grid2: {
                name: 'grid2',
                box: '#grid2',
                header: 'Details',
                show: {header: true, columnHeaders: false},
                columns: [
                    {
                        field: 'name',
                        text: 'Name',
                        size: '100px',
                        style: 'background-color: #efefef; border-bottom: 1px solid white; padding-right: 5px;',
                        attr: "align=right"
                    },
                    {field: 'value', text: 'Value', size: '100%'}
                ]
            }
        }

        // initialization in memory
        let layoutPopup = new w2layout(configPopup.layoutPopup)


        window.showHistory = function () {
            w2popup.open({
                title: 'Historique',
                width: 1000,
                height: 600,
                showMax: true,
                body: '<div id="main" style="position: absolute; left: 2px; right: 2px; top: 0px; bottom: 3px;"></div>'
            })
                .then(e => {
                    layoutPopup.render('#w2ui-popup #main')
                    layoutPopup.html('left', gridPopup1)
                    layoutPopup.html('main', gridPopup2)
                })
        }


    </script>
{% endblock %}
