{% extends 'base.html' %}
{% load static %}
{% block title %}
    HOME
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/w2ui-2.0/w2ui-2.0.min.css' %}">
{% endblock %}
{% block content %}
    <main id="main" class="" style="width: 100vw; height: 90vh;"></main>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        let addEventData = function (type) {
            // URL of the server endpoint
            const url = "{% url 'app:add-data-for-table' %}";

            // Data to be sent in the request body
            const data = {
                target: '{{ target }}',
                type: type
            };

            // Sending a POST request using fetch
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    // Check if the response is OK (status code 200-299)
                    if (!response.ok) {
                        // Throw an error if the response status is not OK
                        return response.json().then(error => {
                            throw new Error(error.message || 'An error occurred');
                        });
                    }
                    // Parse and return the JSON response
                    return response.json();
                })
                .then(jsonData => {
                    // Handle the JSON response data
                    console.log('Success:', jsonData);
                })
                .catch(error => {
                    // Display the error message
                    console.error('Error:', error.message);
                    alert(`Error: ${error.message}`);
                });
        }
    </script>
    <script type="module">
        import {
            w2layout,
            w2sidebar,
            w2alert,
            query,
            w2toolbar
        } from "{% static 'dist/w2ui-2.0/w2ui-2.0.es6.min.js' %}";


        let CreateTable = function (id, columns, groupBy) {

            let table = new Tabulator('#' + id, {
                height: '90vh',
                editorEmptyValue: '',
                downloadConfig: {
                    columnHeaders: true,
                    columnGroups: false,
                    rowHeaders: false,
                    rowGroups: false,
                    columnCalcs: true,
                    dataTree: true,
                },
                ajaxURL: "{% url 'app:get-data-for-table' %}",
                ajaxContentType: "json",
                ajaxParams: {'value': id, 'target': '{{ target }}'},
                ajaxConfig: "POST",
                progressiveLoad: "load",
                progressiveLoadDelay: 200,
                layout: "fitData",
                printAsHtml: true,
                printStyled: true,
                groupStartOpen: false,
                printRowRange: "all",
                printHeader: "<h1>Example Table Header<h1>",
                printFooter: "<h2>Example Table Footer<h2>",
                footerElement: `<button type='button' class='btn btn-warning btn-sm mr-2' id='reload-table' onClick=""><i class='fas fa-sync-alt'></i></button>`,
                tooltipsHeader: false,
                rowHeader: {
                    title: `<button type='button' class='btn btn-primary btn-sm' id='add-row' onClick=""><i class='fas fa-plus'></i></button>`,
                    headerSort: false,
                    resizable: false,
                    width: 45,
                    frozen: true,
                    rowHandle: true,
                    editor: false,
                    hozAlign: "center",
                    formatter: "rownum",
                },
                movableColumns: true,
                success: function (data) {
                    if (data.status !== 200 && data.status !== 201) {
                        alert(data.error || "An error occurred while fetching data.");
                        return;
                    }
                    const breakdowns = data.data;
                    table.setData(breakdowns);
                },
                headerSortClickElement: 'icon',
                selectableRangeClearCells: true,
                columnHeaderVertAlign: "bottom",
                resizableColumnGuide: true,
                dataTree: true,
                dataTreeStartExpanded: false,
                dataTreeFilter: false,
                dataTreeSort: false,
                dataTreeSelectPropagate: true,
                placeholder: "Aucun Donnée",
                placeholderHeaderFilter: 'Aucun Donnée Correspondent',
                groupClosedShowCalcs: true,
                headerSort: true,
                columnDefaults: {
                    tooltip: true,
                    headerHozAlign: "center",
                    editor: false,
                    resizable: "header",
                },
                groupBy: groupBy,
                columns: columns
            })
        }
        let configTable = function (event) {
            let table;
            let id;

            switch (event.target) {
                case 1:
                    id = 'BLG'
                    break;
                case 2:
                    id = 'ALL'
                    break;
                case 3:
                    id = 'BILAN'
                    break;
                case 4:
                    id = 'CN'
                    break;
                default:
                    id = 'BLG'
            }
            table = '<main id="' + id + '" style="padding: 10px"></main>'

            return table
        }


        let config = {
            layout: {
                name: 'layout',
                overflow: 'auto',
                resizable: false,
                padding: 5,
                panels: [
                    {type: 'top', size: 35, overflow: 'hidden'},
                    {type: 'left', size: 100, resizable: true, minSize: 35},
                    {type: 'main', size: 550, overflow: 'hidden'}
                ]
            },
            sidebar: {
                name: 'sidebar',
                flatButton: true,
                nodes: [
                    {
                        id: 'general',
                        text: '{{ target }}',
                        group: true,
                        expanded: true,
                        groupShowHide: false,
                        nodes: [
                            {id: '1', text: 'BLG', icon: 'fas fa-list-alt', selected: true},
                            {id: '2', text: 'ALL', icon: 'fas fa-list-alt'},
                            {id: '3', text: 'BILAN', icon: 'fas fa-list-alt'},
                            {id: '4', text: 'CN', icon: 'fas fa-list-alt'},
                        ],
                        onCollapse(event) {
                            event.preventDefault()
                        },

                    }
                ],
                onFlat(event) {
                    layout.sizeTo('left', (event.detail.goFlat ? 35 : 100), true)
                },
                onRender(event) {
                    let table = configTable(event)
                    layout.html('main', table)
                    query(layout.el('main'))
                        .removeClass('w2ui-grid')
                        .css({
                            'border-left': '1px solid #efefef'
                        })
                    CreateTable('BLG', config.BLG, 'SOCIETE')
                },
                onClick(event) {
                    let table = configTable(event)
                    layout.html('main', table)
                    query(layout.el('main'))
                        .removeClass('w2ui-grid')
                        .css({
                            'border-left': '1px solid #efefef'
                        })
                    let target;
                    let groupBy = '';
                    switch (event.target) {
                        case 1:
                            target = config.BLG
                            groupBy = 'SOCIETE'
                            break;
                        case 2:
                            target = config.ALL
                            break;
                        case 3:
                            target = config.BILAN
                            break;
                        case 4:
                            target = config.CN
                            break;
                        default:
                            target = config.BLG
                    }
                    CreateTable(event.object.text, target, groupBy)
                }
            },
            topbar: {
                box: '#toolbar',
                name: 'toolbar',
                style: 'margin: -2px 3px; padding: 2px; border-radius: 4px; border: #9bb5ff; border-width: 1px 2px; border-style: solid;',
                items: [
                    {type: 'button', id: 'insert', text: 'Ajouter', icon: 'w2ui-icon-plus'},
                    {type: 'button', id: 'append', text: 'Valider', icon: 'w2ui-icon-check'},
                    {type: 'button', id: 'delete', text: 'Suprimer', icon: 'w2ui-icon-cross'},
                ]
            },
            BLG: [
                {title: "SOCIETE", field: "SOCIETE", width: 125, frozen: true},
                {title: "COMPTE SAGE", hozAlign: "right", field: "COMPTE_SAGE", width: 125, frozen: true},
                {title: "NBCAR", field: "NBCAR", width: 100,},
                {title: "COMPTE UNIF", hozAlign: "right", field: "COMPTE_UNIF", width: 125,},
                {title: "DESIGNATION COMPTE", field: "DESIGNATION", width: 300,},
                {
                    title: "SOLDE DEBIT",
                    field: "DEBIT",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    hozAlign: "right",
                    width: 150,
                    formatter: "money",
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: true,
                        precision: false,
                    }
                },
                {
                    title: "SOLDE CREDIT",
                    field: "CREDIT",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    width: 150,
                    hozAlign: "right",
                    formatter: "money",
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: true,
                        precision: false,
                    }
                },
                {
                    title: "SOLDE 311222",
                    field: "SOLDE",
                    width: 150,
                    frozen: true, hozAlign: "right",
                    formatter: "money",
                    sorter: "number", bottomCalc: "sum", bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: false,
                    }
                },
            ],
            ALL: [
                {title: "C1", field: "C1", width: 75, frozen: true},
                {title: "C2", field: "C2", width: 75, frozen: true},
                {title: "C3", field: "C3", width: 75, frozen: true},
                {title: "Compte", field: "COMPTE", width: 125, frozen: true},
                {title: "Affectation", field: "AFFECTATION", width: 125, frozen: true},
                {title: "Désignation", field: "DESIGNATION", width: 250, frozen: true},
                {title: "AGRIFARM", field: "AGFRM", width: 100,},
                {title: "AGRIFEED", field: "AGRIFEED", width: 100,},
                {title: "AGRICORP", field: "AGRICORP", width: 100,},
                {title: "AGRIKOBA", field: "AGKOB", width: 100,},
                {title: "AGRIMOTORS", field: "AGRIMOTORS", width: 100,},
                {title: "AGRIVAL", field: "AGVAL", width: 100,},
                {title: "AGRIVET", field: "AGVET", width: 100,},
                {title: "AGRIVETAM", field: "AGRIVETAM", width: 100,},
                {title: "AMCHO", field: "AMCHO", width: 100,},
                {title: "AMIP", field: "AMIP", width: 100,},
                {title: "BOVIMA", field: "BOVIMA", width: 100,},
                {title: "CONFORTIS", field: "CONFORTIS", width: 100,},
                {title: "CSS SAKAY", field: "CSS_SAKAY", width: 100,},
                {title: "DISCOI", field: "DISCOI", width: 100,},
                {title: "EUROPAINTS", field: "EUROPAINTS", width: 100,},
                {title: "FERRIS", field: "FERRIS", width: 100,},
                {title: "FIRST ENERGY", field: "FIRST_ENERGY", width: 100,},
                {title: "FIRST INVESTISSEMENT", field: "FIRST_INVESTISSEMENT", width: 100,},
                {title: "FLY TECH", field: "FLY_TECH", width: 100,},
                {title: "IDF", field: "IDF", width: 100,},
                {title: "ID MOTORS", field: "ID_MOTORS", width: 100,},
                {title: "ID RENTAL", field: "ID_RENTAL", width: 100,},
                {title: "INVISO", field: "INVISO", width: 100,},
                {title: "IRS IMMO", field: "IRS_IMMO", width: 100,},
                {title: "ISF", field: "ISF", width: 100,},
                {title: "LMOI", field: "LMOI", width: 100,},
                {title: "MABEL", field: "MABEL", width: 100,},
                {title: "MADATRADE", field: "MADATRADE", width: 100,},
                {title: "MCM", field: "MCM", width: 100,},
                {title: "NMP", field: "NMP", width: 100,},
                {title: "NOAH", field: "NOAH", width: 100,},
                {title: "NUTRIFOOD", field: "NUTRIFOOD", width: 100,},
                {title: "RYA", field: "RYA", width: 100,},
                {title: "SEM", field: "SEM", width: 100,},
                {title: "SIM", field: "SIM", width: 100,},
                {title: "SMTP", field: "SMTP", width: 100,},
                {title: "TARTINE", field: "TARTINE", width: 100,},
                {title: "UNITED MALAGASY", field: "UNITED_MALAGASY", width: 100,},
                {title: "VET ABE", field: "VET_ABE", width: 100,},
                {title: "VET FIA", field: "VET_FIA", width: 100,},
                {title: "CONSO", field: "CONSO", width: 100, frozen: true},
                {title: "Cours Moyen EUR Exo", field: "MOYEN", width: 100, frozen: true},
            ],
            BILAN: [],
            CN: [],

        }


        let layout = new w2layout(config.layout);
        let sidebar = new w2sidebar(config.sidebar);
        let topbar = new w2toolbar(config.topbar);

        layout.render('#main');
        layout.html('left', sidebar)
        layout.html('top', topbar)


        window.showAlert = function (message) {
            w2alert(message)
                .ok(() => {
                    console.log(message)
                })
        }


    </script>
{% endblock %}
