{% extends 'base.html' %}
{% load static %}
{% block title %}
    HOME
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/w2ui-2.0/w2ui-2.0.min.css' %}">

{% endblock %}
{% block content %}

    <main id="contents">
        <div id="main" class="" style="width: 100vw; height: 90vh;"></div>
    </main>
{% endblock %}
{% block script %}
    <script type="text/javascript">
        let addEventData = function (type) {
            // URL of the server endpoint
            const url = "{% url 'app:add-data-for-table' %}";

            // Data to be sent in the request body
            const data = {
                target: '{{ target }}',
                type: type
            };

            // Sending a POST request using fetch
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    // Check if the response is OK (status code 200-299)
                    if (!response.ok) {
                        // Throw an error if the response status is not OK
                        return response.json().then(error => {
                            throw new Error(error.message || 'An error occurred');
                        });
                    }
                    // Parse and return the JSON response
                    return response.json();
                })
                .then(jsonData => {
                    // Handle the JSON response data
                    console.log('Success:', jsonData);
                })
                .catch(error => {
                    // Display the error message
                    console.error('Error:', error.message);
                    alert(`Error: ${error.message}`);
                });
        }
    </script>
    <script type="module">
        import {
            w2layout,
            w2sidebar,
            w2alert,
            query,
            w2toolbar,
            w2utils,
            w2popup,
            w2ui,
            w2form
        } from "{% static 'dist/w2ui-2.0/w2ui-2.0.es6.min.js' %}";


        let CreateTable = function (id, columns, groupBy, showGroup, open) {
            let table = new Tabulator('#' + id, {
                height: '85vh',
                editorEmptyValue: '',
                downloadConfig: {
                    columnHeaders: true,
                    columnGroups: false,
                    rowHeaders: false,
                    rowGroups: false,
                    columnCalcs: true,
                    dataTree: true,
                },
                ajaxURL: "{% url 'app:get-data-for-table' %}",
                ajaxContentType: "json",
                ajaxParams: {'value': id, 'target': '{{ target }}'},
                ajaxConfig: "POST",
                progressiveLoad: "load",
                progressiveLoadDelay: 200,
                layout: "fitData",
                printAsHtml: true,
                printStyled: true,
                groupStartOpen: open,
                printRowRange: "all",
                printHeader: "<h1>Example Table Header<h1>",
                printFooter: "<h2>Example Table Footer<h2>",
                footerElement: `<button type='button' class='btn btn-warning btn-sm mr-2' id='reload-table' onClick=""><i class='fas fa-sync-alt'></i></button>`,
                tooltipsHeader: false,
                rowHeader: {
                    title: `<button type='button' class='btn btn-primary btn-sm' id='add-row' onClick=""><i class='fas fa-plus'></i></button>`,
                    headerSort: false,
                    resizable: false,
                    width: 45,
                    frozen: true,
                    rowHandle: true,
                    editor: false,
                    hozAlign: "center",
                    formatter: "rownum",
                },
                movableColumns: true,
                success: function (data) {
                    if (data.status !== 200 && data.status !== 201) {
                        alert(data.error || "An error occurred while fetching data.");
                        return;
                    }
                    const breakdowns = data.data;
                    table.setData(breakdowns);
                },
                headerSortClickElement: 'icon',
                selectableRangeClearCells: true,
                columnHeaderVertAlign: "bottom",
                resizableColumnGuide: true,
                dataTree: true,
                dataTreeStartExpanded: false,
                dataTreeFilter: false,
                dataTreeSort: false,
                dataTreeSelectPropagate: true,
                placeholder: "Aucun Donnée",
                placeholderHeaderFilter: 'Aucun Donnée Correspondent',
                groupClosedShowCalcs: showGroup,
                headerSort: true,
                columnDefaults: {
                    tooltip: true,
                    headerHozAlign: "center",
                    editor: false,
                    resizable: "header",
                },
                groupBy: groupBy,
                columns: columns
            })
        }

        let configTable = function (event) {
            let table;
            let id;

            switch (event.target) {
                case 1:
                    id = 'BLG'
                    table = '<main id="' + id + '" style="padding: 10px"></main>'
                    break;
                case 2:
                    id = 'ALL'
                    table = '<main id="' + id + '" style="padding: 10px"></main>'
                    break;
                case 3:
                    id = 'ACTIF'
                    table = '<main id="' + id + '"></main>'
                    break;
                case 4:
                    id = 'PASSIF'
                    table = '<main id="' + id + '"></main>'
                    break;
                case 5:
                    id = 'CN'
                    table = '<div id="' + id + '" class="slick-container" style=""></div><div id="pager' + id + '"></div>'
                    break;
                default:
                    id = 'BLG'
                    table = '<main id="' + id + '" style="padding: 10px"></main>'
            }


            return table
        }


        let config = {
            layout: {
                name: 'layout',
                overflow: 'auto',
                resizable: false,
                padding: 5,
                panels: [
                    {type: 'top', size: 35, overflow: 'hidden'},
                    {type: 'left', size: 100, resizable: true, minSize: 55},
                    {type: 'main', size: 550, overflow: 'hidden'}
                ]
            },
            sidebar: {
                name: 'sidebar',
                flatButton: true,
                nodes: [
                    {
                        id: 'general',
                        text: '{{ target }}',
                        group: true,
                        expanded: true,
                        groupShowHide: false,
                        nodes: [
                            {id: '1', text: 'BLG', icon: 'fas fa-list-alt', selected: true},
                            {id: '2', text: 'ALL', icon: 'fas fa-list-alt'},
                            {
                                id: 'BILAN', text: 'BILAN', icon: 'fas fa-list-alt', expanded: true, nodes: [
                                    {id: '3', text: 'ACTIF', icon: 'fas fa-table',},
                                    {id: '4', text: 'PASSIF', icon: 'fas fa-table',}
                                ]
                            },
                            {id: '5', text: 'CN', icon: 'fas fa-list-alt'},
                        ],
                        onCollapse(event) {
                            event.preventDefault()
                        },

                    }
                ],
                onFlat(event) {
                    layout.sizeTo('left', (event.detail.goFlat ? 55 : 100), true)
                },
                onRender(event) {
                    let table = configTable(event)
                    layout.html('main', table)
                    query(layout.el('main'))
                        .removeClass('w2ui-grid')
                        .css({
                            'border-left': '1px solid #efefef',

                        })
                    CreateTable('BLG', config.BLG, ['SOCIETE'], true, false)
                },
                onClick(event) {
                    let table = configTable(event)
                    layout.html('main', table)

                    let target;
                    let groupBy = '';
                    let showGroup = true;
                    let open = false;
                    switch (event.target) {
                        case 1:
                            target = config.BLG
                            groupBy = ['SOCIETE']
                            query(layout.el('main'))
                                .removeClass('w2ui-grid')
                                .css({
                                    'border-left': '1px solid #efefef',
                                })
                            break;
                        case 2:
                            target = config.ALL
                            query(layout.el('main'))
                                .removeClass('w2ui-grid')
                                .css({
                                    'border-left': '1px solid #efefef',
                                })
                            break;
                        case 3:
                            target = config.BILAN.ACTIF
                            groupBy = ['GROUPE', 'CATEGORY']
                            open = true
                            query(layout.el('main'))
                                .removeClass('w2ui-grid')
                                .addClass('slick-container')
                                .css({
                                    'border-left': '1px solid #efefef',
                                })
                            break;
                        case 4:
                            target = config.BILAN.PASSIF
                            groupBy = ['GROUPE', 'CATEGORY']
                            open = true
                            query(layout.el('main'))
                                .removeClass('w2ui-grid')
                                .addClass('slick-container')
                                .css({
                                    'border-left': '1px solid #efefef',
                                })
                            break;
                        case 5:
                            target = config.CN
                            query(layout.el('main'))
                                .removeClass('w2ui-grid')
                                .addClass('slick-container')
                                .css({
                                    'border-left': '1px solid #efefef',
                                })
                            break;
                        default:
                            target = config.BLG
                            query(layout.el('main'))
                                .removeClass('w2ui-grid')
                                .css({
                                    'border-left': '1px solid #efefef',
                                })
                    }
                    CreateTable(event.object.text, target, groupBy, showGroup, open)
                }
            },
            topbar: {
                box: '#toolbar',
                name: 'toolbar',
                style: 'margin: -2px 3px; padding: 2px; border-radius: 4px; border: #9bb5ff; border-width: 1px 2px; border-style: solid;',
                items: [
                    {type: 'button', id: 'add', text: 'Ajouter', icon: 'w2ui-icon-plus'},
                    {type: 'button', id: 'append', text: 'Valider', icon: 'w2ui-icon-check'},
                    {type: 'button', id: 'delete', text: 'Suprimer', icon: 'w2ui-icon-cross'},
                ],
                onClick(event) {
                    {#if (event.target === 'add') lock({spinner: true, msg: 'Enregistrement ...'})#}
                    {#if (event.target === 'hide') unlock(true)#}
                    if (event.target === 'add') openPopup()
                }
            },
            BLG: [
                {title: "SOCIETE", field: "SOCIETE", width: 125, visible: false},
                {title: "COMPTE SAGE", hozAlign: "right", field: "COMPTE_SAGE", width: 125, frozen: true},
                {title: "COMPTE UNIF", hozAlign: "right", field: "COMPTE_UNIF", width: 125,},
                {title: "DESIGNATION COMPTE", field: "DESIGNATION", width: 300,},
                {
                    title: "SOLDE DEBIT",
                    field: "DEBIT",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    width: 150,
                    hozAlign: "right",
                    formatter: "money",
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "SOLDE CREDIT",
                    field: "CREDIT",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    width: 150,
                    hozAlign: "right",
                    formatter: "money",
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "SOLDE 311222",
                    field: "SOLDE",
                    width: 150,
                    frozen: true,
                    hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
            ],
            ALL: [
                {title: "C1", field: "C1", width: 50, frozen: true},
                {title: "C2", field: "C2", width: 50, frozen: true},
                {title: "C3", field: "C3", width: 65, frozen: true},
                {title: "Compte", field: "COMPTE", width: 100, hozAlign: "right", frozen: true},
                {title: "Affectation", field: "AFFECTATION", width: 100, frozen: true},
                {title: "Désignation", field: "DESIGNATION", width: 250, frozen: true},
                {
                    title: "AGRIVET ANTSIRABE", field: "AGRIVET ANTSIRABE", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRIVET FIANARANTSOA", field: "AGRIVET FIANARANTSOA",
                    hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRIFARM", field: "AGFRM", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRIFEED", field: "AGRIFEED", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRICORP", field: "AGRICORP", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRIKOBA", field: "AGKOB", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRIMOTORS", field: "AGRIMOTORS", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRIVAL", field: "AGVAL", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRIVET", field: "AGVET", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AGRIVETAM", field: "AGRIVETAM", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AMCHO", field: "AMCHO", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "AMIP", field: "AMIP", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "BOVIMA", field: "BOVIMA", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "CONFORTIS", field: "CONFORTIS", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "CSS SAKAY", field: "CSS SAKAY", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "DISCOI", field: "DISCOI", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "EUROPAINTS", field: "EUROPAINTS", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "FERRIS", field: "FERRIS2014", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "FIRST ENERGY", field: "FIRSTENERGY", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "FIRST INVESTISSEMENT", field: "FIRST INVESTISSEMENT", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "FLY TECH", field: "FLY TECHNOLOGIES", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "IDF", field: "IDF2010", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "ID MOTORS", field: "ID MOTORS", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "ID RENTAL", field: "ID RENTAL", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "INVISO", field: "INVISO", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "IRS IMMO", field: "IRS IMMO", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "ISF", field: "ISF", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "LMOI", field: "LMOI", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "MABEL", field: "MABEL2", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "MADATRADE", field: "MADATRADE", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "MCM", field: "MCM", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "NMP", field: "NMP", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "NOAH", field: "NOAH", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "NUTRIFOOD", field: "NUTRIFOOD", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "RYA", field: "RYA2019", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "SEM", field: "SEM", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "SIM", field: "SIM", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "SMTP", field: "SMTP", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "TARTINE", field: "TARTINE", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "UNITED MALAGASY", field: "UNITED MALAGASY", hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalc: "sum",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                },
                {
                    title: "CONSO",
                    field: "CONSO",
                    frozen: true,
                    bottomCalc: "sum",
                    hozAlign: "right",
                    formatter: "money",
                    sorter: "number",
                    bottomCalcParams: {precision: 2},
                    formatterParams: {
                        decimal: ",",
                        thousand: " ",
                        symbol: " ",
                        symbolAfter: "p",
                        negativeSign: false,
                        precision: 2,
                    }
                }
            ],
            BILAN: {
                ACTIF: [
                    {title: "AFFECTATION", field: "AFFECTATION", frozen: true},
                    {title: "GROUPE", field: "GROUPE", visible: false},
                    {title: "CATEGORY", field: "CATEGORY", visible: false},
                    {title: "ACTIF", field: "LIBEL"},
                    {title: "NOTE", field: "NOTE", width: 100},
                    {
                        title: "31/12/{{target}}", columns: [
                            {
                                title: "BRUT", field: "BRUT", sorter: "number",
                                bottomCalc: "sum",
                                bottomCalcParams: {precision: 2},
                                width: 150,
                                hozAlign: "right",
                                formatter: "money",
                                formatterParams: {
                                    decimal: ",",
                                    thousand: " ",
                                    symbol: " ",
                                    symbolAfter: "p",
                                    negativeSign: false,
                                    precision: 2,
                                }
                            },
                            {
                                title: "AMORTISSEMENT", field: "AMORTISSEMENT", sorter: "number",
                                bottomCalc: "sum",
                                bottomCalcParams: {precision: 2},
                                width: 150,
                                hozAlign: "right",
                                formatter: "money",
                                formatterParams: {
                                    decimal: ",",
                                    thousand: " ",
                                    symbol: " ",
                                    symbolAfter: "p",
                                    negativeSign: false,
                                    precision: 2,
                                }
                            },
                            {
                                title: "NET", field: "NET", sorter: "number",
                                bottomCalc: "sum",
                                bottomCalcParams: {precision: 2},
                                width: 150,
                                hozAlign: "right",
                                formatter: "money",
                                formatterParams: {
                                    decimal: ",",
                                    thousand: " ",
                                    symbol: " ",
                                    symbolAfter: "p",
                                    negativeSign: false,
                                    precision: 2,
                                }
                            },
                        ],
                    },
                    {
                        title: "31/12/{{ target_1 }}", field: "", sorter: "number",
                        bottomCalc: "sum",
                        bottomCalcParams: {precision: 2},
                        width: 150,
                        hozAlign: "right",
                        formatter: "money",
                        formatterParams: {
                            decimal: ",",
                            thousand: " ",
                            symbol: " ",
                            symbolAfter: "p",
                            negativeSign: false,
                            precision: 2,
                        }
                    },
                    {
                        title: "31/12/{{ target_2 }}", field: "", sorter: "number",
                        bottomCalc: "sum",
                        bottomCalcParams: {precision: 2},
                        width: 150,
                        hozAlign: "right",
                        formatter: "money",
                        formatterParams: {
                            decimal: ",",
                            thousand: " ",
                            symbol: " ",
                            symbolAfter: "p",
                            negativeSign: false,
                            precision: 2,
                        }
                    },
                    {
                        title: "31/12/{{ target_3 }}", field: "", sorter: "number",
                        bottomCalc: "sum",
                        bottomCalcParams: {precision: 2},
                        width: 150,
                        hozAlign: "right",
                        formatter: "money",
                        formatterParams: {
                            decimal: ",",
                            thousand: " ",
                            symbol: " ",
                            symbolAfter: "p",
                            negativeSign: false,
                            precision: 2,
                        }
                    },

                ],
                PASSIF: [
                    {title: "AFFECTATION", field: "AFFECTATION", frozen: true},
                    {title: "GROUPE", field: "GROUPE", visible: false},
                    {title: "CATEGORY", field: "CATEGORY", visible: false},
                    {title: "ACTIF", field: "LIBEL"},
                    {title: "NOTE", field: "NOTE", width: 100},
                    {
                        title: "31/12/{{target}}", field: "CONSO", sorter: "number",
                        bottomCalc: "sum",
                        bottomCalcParams: {precision: 2},
                        width: 150,
                        hozAlign: "right",
                        formatter: "money",
                        formatterParams: {
                            decimal: ",",
                            thousand: " ",
                            symbol: " ",
                            symbolAfter: "p",
                            negativeSign: true,
                            precision: 2,
                        }
                    },
                    {
                        title: "31/12/{{ target_1 }}", field: "", sorter: "number",
                        bottomCalc: "sum",
                        bottomCalcParams: {precision: 2},
                        width: 150,
                        hozAlign: "right",
                        formatter: "money",
                        formatterParams: {
                            decimal: ",",
                            thousand: " ",
                            symbol: " ",
                            symbolAfter: "p",
                            negativeSign: false,
                            precision: 2,
                        }
                    },
                    {
                        title: "31/12/{{ target_2 }}", field: "", sorter: "number",
                        bottomCalc: "sum",
                        bottomCalcParams: {precision: 2},
                        width: 150,
                        hozAlign: "right",
                        formatter: "money",
                        formatterParams: {
                            decimal: ",",
                            thousand: " ",
                            symbol: " ",
                            symbolAfter: "p",
                            negativeSign: false,
                            precision: 2,
                        }
                    },
                    {
                        title: "31/12/{{ target_3 }}", field: "", sorter: "number",
                        bottomCalc: "sum",
                        bottomCalcParams: {precision: 2},
                        width: 150,
                        hozAlign: "right",
                        formatter: "money",
                        formatterParams: {
                            decimal: ",",
                            thousand: " ",
                            symbol: " ",
                            symbolAfter: "p",
                            negativeSign: false,
                            precision: 2,
                        }
                    },

                ]
            },
            CN: [],

        }


        let layout = new w2layout(config.layout);
        let sidebar = new w2sidebar(config.sidebar);
        let topbar = new w2toolbar(config.topbar);

        layout.render('#main');
        layout.html('left', sidebar)
        layout.html('top', topbar)


        window.showAlert = function (message) {
            w2alert(message)
                .ok(() => {
                    console.log(message)
                })
        }

        window.lock = function (opts = {}) {
            w2utils.lock(query('#contents'), opts)
        }
        window.unlock = function () {
            w2utils.unlock(query('#contents'))
        }

        window.openPopup = function () {
            if (!w2ui.foo) {
                new w2form({
                    name: 'foo',
                    style: 'border: 0px; background-color: transparent;',
                    fields: [
                        {
                            field: 'target', type: 'list',
                            html: {label: 'Date'},
                            options: {items: ['2024', '2023', '2022', '2021']}
                        }
                    ],
                    record: {
                        target: '{{ target }}',
                    },
                    actions: {
                        Reset() {
                            this.clear()
                        },
                        Save() {
                            this.validate()
                        }
                    }
                });
            }
            w2popup.open({
                title: 'Enregistrement Bilan',
                body: '<div id="form" style="width: 100%; height: 100%;"></div>',
                style: 'padding: 15px 0px 0px 0px',
                width: 550,
                height: 280,
                padding: 10,
                showMax: true,
                async onToggle(event) {
                    await event.complete
                    w2ui.foo.resize();
                }
            })
                .then((event) => {
                    w2ui.foo.render('#form')
                });
        }


    </script>
{% endblock %}
